<!DOCTYPE html>
<html>
<head>
  <title>Authentication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Create Account", new_user_path%> | Logged in as <%= current_user.username %>
<%= yield %>

</body>
</html>
